.inbox{
    .item {
        background: #eaeaea;
        border: 1px solid #cacaca;
        input{
            padding: 5px;
            margin: 0 5px;
        }
        p {
            display: inline-block;
            padding: 5px;
            }
    }
}