.parent {
    border: 1px solid crimson;
    padding: 5px;
    margin: auto;
    width: 200px;

}

.child {
    height: 50px;
    width: 100px;
    border: 1px solid saddlebrown;
    text-align: center;
    margin: 10px;
}